@import url('../../.cache/wal/colors-waybar.css');

@define-color bg alpha(@background, 0.5);
@define-color fg @foreground;
@define-color bg-selected @foreground;
@define-color fg-selected @background;
@define-color border @color1;

* {
  all: unset;
  font-family: "Inter Nerd Font";
  font-weight: bold;
  font-size: 18px;
  transition: color 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}

.barWindow {
  background-color: transparent;
}

.bar {
  margin: 0px 4px 4px 4px;
}

button {
  min-width: 30px;
  min-height: 30px;
  color: @fg;
}

button:hover {
  color: @fg-selected;
  background: @bg-selected;
}

.container {
  background-color: @bg;
  border: 1px solid @border;
}

calendar {
  color: @color8;
}

calendar:selected {
  color: @fg-selected;
  background: @bg-selected;
}

calendar.header {
  color: @fg;
}

calendar.button {
  color: @color8;
}

calendar.highlight {
  color: @color8; 
}

calendar:indeterminate {
  color: @border;
}
