@import url('../../.cache/wal/colors-waybar.css');

@define-color bg alpha(@background, 0.5);
@define-color fg @foreground;
@define-color bg-selected @foreground;
@define-color fg-selected @background;
@define-color border @color1;

* {
  all: unset;
  font-family: "Inter Nerd Font";
  font-weight: bold;
  font-size: 18px;
  transition: color 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}

.text {
  color: @fg;
}

.bar {
  margin: 0px 4px 4px 4px;
}

button {
  min-width: 40px;
  color: @fg;
}

button:hover {
  color: @fg-selected;
  background: @bg-selected;
}

.container {
  background: @bg;
  border: 1px inset @border;
}

.workspace {
  min-width: 35px;
  min-height: 40px;
  padding-right: 5px;
}

.active-workspace {
  min-width: 29px;
  margin: 4px 3px;
  padding-top: 2px;
  padding-right: 5px;
  border-bottom: 2px solid white;
  transition: border-bottom 0.25s ease-in-out;
}

.clock {
  padding: 0px 10px;
}

menu, tooltip {
  padding: 4px;
  border: 1px inset @border;
  color: @fg;
  background: @bg;
}

menu > menuitem:disabled {
  color: @color8;
}

menu > menuitem:hover {
  color: @fg-selected;
  background: @bg-selected;
}

.progress {
  color: @fg;
  font-size: 3px;
  margin: 10px;
}

.charging {
  color: green;
}

calendar {
  color: @color8;
}

calendar:selected {
  color: @fg-selected;
  background: @bg-selected;
}

calendar.header {
  color: @fg;
}

calendar.button {
  color: @color8;
}

calendar.highlight {
  color: @color8; 
}

calendar:indeterminate {
  color: @border;
}

.WorkspaceWidget {
  border: 1px inset @border;
  background: @bg;
  min-width: 213.333333px;
  min-height: 120px;
}

.SelectedWorkspaceWidget {
  border: 1px inset @border;
  background: @bg-selected;
  min-width: 213.333333px;
  min-height: 120px;
}

.WorkspaceWidgetIcon {
  color: @color8;
}

.Title {
  color: @fg;
  font-size: 24px;
}

scale {
  transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

scale slider {
  min-width: 0px;
  margin: 0px;
  background-color: @border;
}

scale trough { 
  border: 1px inset @border;
  min-height: 12px;
  min-width: 100px;
  background-color: @bg;
}

scale highlight { 
  background-color: @bg-selected;
  transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
}
