* {
  transition: color 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}

window {
  margin: 0px;
  background: transparent;
  border-radius: 5px;
  font-family: Inter Nerd Font;
  font-weight: bold;
  font-size: 1em;
}

#input {
  padding: 4px;
  border: 1px solid --wofi-color2;
  border-radius: 5px;
  color: --wofi-color7;
  background-color: alpha(--wofi-color0, 0.75);
  outline: none;
  margin: 10px;
  margin-bottom: 2px;
}

#inner-box {}

#outer-box {}

#scroll {
  border: none;
  padding: 10px;
}

#img {
  background-color: transparent;
}

#text {
  margin: 0px 10px;
  border: none;
  font-weight: bold;
  background-color: transparent;
  color: --wofi-color7;
}

#text:selected {
  color: --wofi-color0;
}

#entry {
  margin: 4px 0px;
  border: 1px solid --wofi-color2;
  border-radius: 5px;
  padding: 10px;
  background: alpha(--wofi-color0, 0.5);
}

#entry:selected {
  margin: 4px 0px;
  color: --wofi-color0;
  background-color: alpha(--wofi-color7, 0.85);
}
